*.swp
*.*~
project.lock.json
.DS_Store
*.pyc
nupkg/

# Visual Studio Code
.vscode

# User-specific files
*.suo
*.user
*.userosscache
*.sln.docstates
*.cache

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
build/
bld/
[Bb]in/
[Oo]bj/
[Oo]ut/
msbuild.log
msbuild.err
msbuild.wrn

# Visual Studio 2015
.vs/

**/*.DesktopClient/ModelManifest.xml
**/*.Server/GeneratedArtifacts
**/*.Server/ModelManifest.xml
_Pvt_Extensions

# SQL Server files
*.mdf
*.ldf

# Others
ClientBin/
~$*
*~
*.dbmdl
*.dbproj.schemaview
*.jfm
*.pfx
*.publishsettings
node_modules/
orleans.codegen.cs

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/
[Ll]ogs/
obj/
bin/

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings
yarn-error.log

# e2e
/e2e/*.js
/e2e/*.map

# System Files
.DS_Store
Thumbs.db
common/obj/Debug/netstandard2.0/common.pdb
service/bin/Debug/netstandard2.0/service.dll
service/bin/Debug/netstandard2.0/dal.pdb
service/bin/Debug/netstandard2.0/repository.dll
service/bin/Debug/netstandard2.0/repository.pdb
service/bin/Debug/netstandard2.0/service.pdb
service/obj/Debug/netstandard2.0/service.csproj.FileListAbsolute.txt
service/bin/Debug/netstandard2.0/service.deps.json
service/obj/project.assets.json
service/obj/service.csproj.nuget.cache
service/obj/service.csproj.nuget.g.props
service/obj/service.csproj.nuget.g.targets
service/obj/Debug/netstandard2.0/service.dll
service/obj/Debug/netstandard2.0/service.pdb
service/obj/Debug/netstandard2.0/service.csproj.CoreCompileInputs.cache
webapi/obj/Debug/netcoreapp2.0/webapi.csproj.CoreCompileInputs.cache
webapi/Migrations/20180815024744_InitialCreate.cs
webapi/Migrations/20180815024744_InitialCreate.Designer.cs
webapi/Migrations/UserContextModelSnapshot.cs
webapi/Migrations/Raffler/20180815034951_CreateRaffler.cs
webapi/Migrations/Raffler/20180815034951_CreateRaffler.Designer.cs
webapi/Migrations/Raffler/20180815042835_CreateRaffler2.cs
webapi/Migrations/Raffler/20180815042835_CreateRaffler2.Designer.cs
webapi/Migrations/Raffler/RafflerContextModelSnapshot.cs
webapi/bin/Debug/netcoreapp2.0/common.dll
webapi/bin/Debug/netcoreapp2.0/common.pdb
webapi/bin/Debug/netcoreapp2.0/dal.dll
webapi/bin/Debug/netcoreapp2.0/dal.pdb
webapi/bin/Debug/netcoreapp2.0/repository.dll
webapi/bin/Debug/netcoreapp2.0/repository.pdb
webapi/bin/Debug/netcoreapp2.0/service.dll
webapi/bin/Debug/netcoreapp2.0/service.pdb
webapi/bin/Debug/netcoreapp2.0/webapi.dll
webapi/bin/Debug/netcoreapp2.0/webapi.pdb
webapi/bin/Debug/netcoreapp2.0/webapi.runtimeconfig.dev.json
webapi/obj/project.assets.json
webapi/obj/webapi.csproj.nuget.cache
webapi/obj/webapi.csproj.nuget.g.props
webapi/obj/webapi.csproj.nuget.g.targets
webapi/obj/Debug/netcoreapp2.0/webapi.dll
webapi/obj/Debug/netcoreapp2.0/webapi.pdb
webapi/obj/Debug/netcoreapp2.0/webapi.csproj.FileListAbsolute.txt
webapi/bin/Debug/netcoreapp2.0/service.dll
common/bin/Debug/netstandard2.0/common.dll
common/bin/Debug/netstandard2.0/common.pdb
common/bin/Debug/netstandard2.0/common.deps.json
common/obj/common.csproj.nuget.cache
common/obj/common.csproj.nuget.g.props
common/obj/common.csproj.nuget.g.targets
common/obj/project.assets.json
common/obj/Debug/netstandard2.0/common.dll
common/obj/Debug/netstandard2.0/common.pdb
common/obj/Debug/netstandard2.0/common.csproj.CoreCompileInputs.cache
common/obj/Debug/netstandard2.0/common.csproj.FileListAbsolute.txt
dal/bin/Debug/netstandard2.0/dal.dll
dal/bin/Debug/netstandard2.0/dal.pdb
dal/bin/Debug/netstandard2.0/dal.deps.json
dal/obj/dal.csproj.nuget.cache
dal/obj/dal.csproj.nuget.g.props
dal/obj/dal.csproj.nuget.g.targets
dal/obj/project.assets.json
dal/obj/Debug/netstandard2.0/dal.dll
dal/obj/Debug/netstandard2.0/dal.pdb
dal/obj/Debug/netstandard2.0/dal.csproj.CoreCompileInputs.cache
dal/obj/Debug/netstandard2.0/dal.csproj.FileListAbsolute.txt
repository/bin/Debug/netstandard2.0/dal.dll
repository/bin/Debug/netstandard2.0/dal.pdb
repository/bin/Debug/netstandard2.0/repository.dll
repository/bin/Debug/netstandard2.0/repository.pdb
repository/bin/Debug/netstandard2.0/repository.deps.json
repository/obj/project.assets.json
repository/obj/repository.csproj.nuget.cache
repository/obj/repository.csproj.nuget.g.props
repository/obj/repository.csproj.nuget.g.targets
repository/obj/Debug/netstandard2.0/repository.dll
repository/obj/Debug/netstandard2.0/repository.pdb
repository/obj/Debug/netstandard2.0/repository.csproj.CoreCompileInputs.cache
repository/obj/Debug/netstandard2.0/repository.csproj.FileListAbsolute.txt
service/bin/Debug/netstandard2.0/common.dll
service/bin/Debug/netstandard2.0/common.pdb
service/bin/Debug/netstandard2.0/dal.dll
service/bin/Debug/netstandard2.0/dal.pdb
service/bin/Debug/netstandard2.0/repository.dll
service/bin/Debug/netstandard2.0/repository.pdb
service/bin/Debug/netstandard2.0/service.dll
service/bin/Debug/netstandard2.0/service.pdb
service/bin/Debug/netstandard2.0/service.deps.json
service/obj/project.assets.json
service/obj/service.csproj.nuget.cache
service/obj/service.csproj.nuget.g.props
service/obj/service.csproj.nuget.g.targets
service/obj/Debug/netstandard2.0/service.dll
service/obj/Debug/netstandard2.0/service.pdb
service/obj/Debug/netstandard2.0/service.csproj.CoreCompileInputs.cache
service/obj/Debug/netstandard2.0/service.csproj.FileListAbsolute.txt
webapi/bin/Debug/netcoreapp2.0/common.dll
webapi/bin/Debug/netcoreapp2.0/common.pdb
webapi/bin/Debug/netcoreapp2.0/dal.dll
webapi/bin/Debug/netcoreapp2.0/dal.pdb
webapi/bin/Debug/netcoreapp2.0/repository.dll
webapi/bin/Debug/netcoreapp2.0/repository.pdb
webapi/bin/Debug/netcoreapp2.0/service.pdb
webapi/bin/Debug/netcoreapp2.0/webapi.dll
webapi/bin/Debug/netcoreapp2.0/webapi.pdb
webapi/bin/Debug/netcoreapp2.0/webapi.runtimeconfig.dev.json
webapi/obj/project.assets.json
webapi/bin/Debug/netcoreapp2.0/webapi.dll
webapi/bin/Debug/netcoreapp2.0/webapi.pdb
webapi/obj/Debug/netcoreapp2.0/webapi.dll
webapi/obj/Debug/netcoreapp2.0/webapi.pdb
